PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

ARC_RPC_URL=https://rpc.testnet.arc.io
ARC_CHAIN_ID=5042002
USDC_ADDRESS=0x3600000000000000000000000000000000000000
EDUFLOW_CONTRACT_ADDRESS=
EDUFLOW_PAYER_ADDRESS=

CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_WALLET_SET_ID=
CIRCLE_EXECUTOR_WALLET_ID=
CIRCLE_EXECUTOR_ADDRESS=
CIRCLE_PROVIDER_WALLET_SET_ID=
CIRCLE_PROVIDER_WALLET_ID=
CIRCLE_PROVIDER_ADDRESS=